nav
{
    background-color: #AAA;
}

nav ul
{
    padding: 0;
}

.selectedNavItem
{
    color: #000;
    text-decoration: underline;
    font-weight: bold;
}

.deselectedNavItem
{
    color: #FFF;
    text-decoration: none;
    text-decoration: none;
}

.loginError
{
    color:red;
}

nav li
{
    display: inline;
    font-size: 20pt;
    border-right: solid #FFF;
    padding: 5px;
}

nav li a
{
    text-decoration: none;
}

p
{
    margin-bottom: 10px;
}

.deadGameCell
{
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    width: 5px;
    height: 5px;
    //border: 0.1px solid white;
    background-color: #DDD;
}

.aliveGameCell
{
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    width: 5px;
    height: 5px;
    //border: 0.1px solid white;
    background-color: #F00;
}

canvas
{
    border: 1px solid black;
}

#leaderTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#leaderTable td, #leaderTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#leaderTable tr:nth-child(even){background-color: #f2f2f2;}

#leaderTable tr:hover {background-color: #ddd;}

#leaderTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}