nav
{
    background-color: #AAA;
}

nav ul
{
    padding: 0;
}

nav li
{
    display: inline;
    font-size: 20pt;
    border-right: solid #FFF;
    padding: 5px;
}

nav li a
{
    text-decoration: none;
}

p
{
    margin-bottom: 10px;
}

label
{
    border: 1px solid green;
}

.deadGameCell
{
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    width: 5px;
    height: 5px;
    //border: 0.1px solid white;
    background-color: #DDD;
}

.aliveGameCell
{
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    width: 5px;
    height: 5px;
    //border: 0.1px solid white;
    background-color: #F00;
}

canvas
{
    border: 1px solid black;
}